body {
    margin: 0;
    /* background-color: #38A3A5; */
    background-color: #C9CCD5;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    height: 100%;
}

.background {
    height: 10rem;
    width: 100%;
}



.navbar {
    /* background-color: black; */
    width: 100%;
    background-color: #93B5C6;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}
header>div>a {
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem 0.8rem;
    color: white;
}

.about_title, .skills_title{
    display: inline-block;
    width: 80%;
    position: relative;
    left: 3rem;
}
.about_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about_text {
    width: 300px;
    height: 350px;
    text-align: center;
    margin: 3em;
    background-color:coral;

}
.about_img {
    width: 300px;
    margin: 3em;
    background-color: cyan;
}
.skills_container{
    background-color: yellowgreen;
}

.skills_intro {
    display: inline-block;
    width: 80%;
    position: relative;
    left: 3rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

.skills_icons{
    width: 420px;
    margin: auto;
}
.skills_grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    
}
.skills_grid > div {
    text-align: center;
}

.skills_outro_title {
    display: inline-block;
    width: 80%;
    position: relative;
    left: 3rem;
}
.skills_outro_text {
    width: 600px;
    padding-bottom: 3rem;
    margin: 0 auto;
}


@media (min-width: 615px) {
    .skills_grid{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
}
.skills_icons{
    width: 600px;
    margin: auto;
}

}


 .skills_icons > div > p {
    text-align: center;
}



.footbox {
    margin: 0;
    width: 100%;
    height: 2.3rem;
    /* background-color: black ; */
    background-color: #93B5C6;
    color: white; 
    margin-bottom: 0;
    padding-top: 0.25rem;
    display: flex;
    justify-content: center;
    
}
.copyright {
    display: inline-block;
    margin: auto 10px auto auto;
    padding: 0;
}
.github_icon {
    display: inline-block;
    margin: auto 10px;
    padding: 0;
    color: white;
    /* color: #47373c; */
}
.linkedin_icon {
    display: inline-block;
    margin: auto auto auto 10px;
    padding: 0;
    color: white;
    /* color: #E4D8DC; */
}



