body {
    margin: 0;
    background-color:#686D76;
    /* background-color: #C9CCD5; */
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    height: 100%;
    color: white;
}

.background {
    height: 10rem;
    width: 100%;
}

.navbar {
    width: 100%;
    background-color: #373A40;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}


header>div>a {
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem 0.8rem;
    color: white;
}
.punch:hover{
    color: #19D3DA;
}
.rainbow{
    color: #19D3DA;
}
.decoration {
    text-decoration: none;
}

.about_title,
.skills_title,
.career_title {
    display: inline-block;
    width: 80%;
    position: relative;
    left: 3rem;
}

.about_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about_text {
    width: 400px;
    text-align: center;
    margin: 0 0.5em 0;
    font-size: 1.5rem;

}

.about_img {
    width: 436px;
    margin: 1em 0 2em;
    /* background-color: cyan; */
}

.skills_container {
    /* color: black; */
    color: white;
    /* color: #19D3DA; */
    /* background-color:#686D76; */
    /* background-color: #C9CCD5; */
    background-color: #373A40;

}

.skills_intro,
.career_intro {
    display: inline-block;
    width: 80%;
    position: relative;
    left: 3rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

.skills_icons {
    width: 420px;
    margin: auto;
}

.skills_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;

}

.skills_grid>div {
    text-align: center;
}

.skills_outro_title {
    display: inline-block;
    width: 80%;
    position: relative;
    left: 3rem;
}

.skills_outro_text {
    width: 370px;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.career_content {
    grid-template-columns: auto;
    grid-template-rows: auto;
}

@media (min-width:873px) {
    .career_content {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }
    .career_img{
        width: 436px;
        display: block;
       padding: 0 0 0 3rem;
    }

}
.career_img {
    width: 436px;
    display: block;
    margin: 2rem auto;
}


.career_text {
    text-align: center;
    margin: 7%;
}

@media (min-width: 615px) {
    .skills_grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
    }

    .skills_icons {
        width: 600px;
        margin: auto;
    }

    .skills_outro_text {
        width: 600px;
        padding-bottom: 3rem;

    }


    .skills_icons>div>p {
        text-align: center;
    }

    .about_text {
        width: 400px;
        margin: 3em;
    }

    .about_img {
        margin: 3em;
    }

    .about_container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 430px) {
    .skills_grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }
}

@media (min-width:1024px) {
    .about_container {
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
}

.footbox {
    margin: 0;
    width: 100%;
    height: 2.3rem;
    /* background-color: black ; */
    background-color: #373A40;
    color: white;
    margin-bottom: 0;
    padding-top: 0.25rem;
    display: flex;
    justify-content: center;

}

.copyright {
    display: inline-block;
    margin: auto 10px auto auto;
    padding: 0;
}

.github_icon {
    display: inline-block;
    margin: auto 10px;
    padding: 0;
    color: white;
    /* color: #47373c; */
}

.linkedin_icon {
    display: inline-block;
    margin: auto auto auto 10px;
    padding: 0;
    color: white;
    /* color: #E4D8DC; */
}